.learn-page {
    padding-bottom: 49px;
    font-family: 'Microsoft YaHei', 'PingFangSC-Regular';
    .ellipsis {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ellipsis-2 {
      -webkit-line-clamp: 2;
    }
    .header-filter {
      height: 44px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 16px;
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #dce0e3;
      position: fixed;
      z-index: 9999;
      background: #fff;
      top: 0;
      left: 0;
      .linker-box {
        display: flex;
        flex: 1;
        align-items: center;
        position: relative;
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }
        .fade-enter, .fade-leave-active {
            opacity: 0
        }
        .linker-filter-list{
            position: absolute;
            z-index: 999;
            top: 30px;
            left: -16px;
            max-height: 400px;
            width: 100vw;
            overflow-y: auto;
            background: #fff;
            box-sizing: border-box;
            padding: 0 20px;
            ul li{
                padding: 15px 0;
                font-size:15px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(26,39,51,1);
                line-height:21px;
            }
            
        }
      }
      .linker-name {
        font-size: 14px;
        // font-weight: 600;
        color: rgba(26, 39, 51, 1);
      }
      .filter-van-icon-arrow {
        color: #5c6166;
        font-size: 12px;
        font-weight: 600;
      }
      .van-icon-arrow-up{
        color: #007AE6;
      }
      .search-box {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #e2e8ee;
      }
      .search-icon {
        height: 16px;
        width: 16px;
        margin: 0px 3px 0 8px;
      }
      .search-text {
        font-size: 12px;
        font-weight: 400;
        color: rgba(150, 158, 168, 1);
        margin-top: 3px
      }
      .tips-box{
        position: absolute;
        display: flex;
        top: 26px;
        left: 0;
        box-sizing: border-box;
        padding-left: 12px;
        padding-top: 17px;
        border-radius: 6px;
        height: 71px;
        width: 270px;
        font-size:14px;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:21px;
        background:rgba(0,122,230, .9);
        opacity: .95;
        .square{
          height: 0;
          width: 0;
          position: absolute;
          top: -17px;
          left: 24px;
          border: 9px solid transparent; 
          border-bottom: 9px solid rgba(0,122,230,0.945);
        }
        .close-icon{
          height: 16px;
          width: 16px;
          margin-left: 18px;
          margin-right: 12px;
          margin-top: 10px;
        }
        // 9/5/24
      }
    }
    .learn-wrap{
      margin-top: 44px;
    }
    //   card-box
    .card-box {
      padding: 16px;
      border-bottom: 10px solid #f7f9fa;
      box-sizing: border-box;
    }
    .card-header {
      height: 22px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      color: rgba(41, 46, 51, 1);
    }
    .card-title {
      flex: 1;
      font-weight: 600;
    }
    .card-do {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      color: rgba(194, 199, 204, 1);
      min-width: 70px;
      img {
        height: 12px;
        position: relative;
        top: -1px
      }
    }
    // 一行显示一个
    .learn-list-1,
    .learn-list-1 img {
      width: 343px;
      height: 193px;
      border-radius: 6px;
    }
    .learn-list-1 {
      margin-top: 10px;
      position: relative;
      .learn-type {
        width: 33px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        background: rgba(250, 100, 0, 1);
        border-radius: 0px 4px 0px 4px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
      .learn-type.pdf{
        background: rgba(250, 100, 0, 1);
      }
      .learn-info {
        position: absolute;
        bottom: 0;
        //   height: 97px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 23px 14px 12px;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
        border-radius: 0px 0px 6px 6px;
        .title {
          // margin-top: 21px;
          font-size: 14px;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          line-height: 21px;
        }
        .abstract {
          margin-top: 6px;
          font-size: 10px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 14px;
        }
        .learn-list-1 img {
          object-fit: cover;
          object-position: center;
        }
      }
    }
  
    // 一行显示2个
    .learn-list-2 {
      display: flex;
      flex-wrap: wrap;
      .learn-block {
        margin-top: 10px;
        height: 142px;
        min-width: 167px;
        max-width: 167px;
        margin-right: 9px;
        flex: 1;
      }
      .learn-block:nth-child(2n) {
        margin-right: 0;
      }
      .learn-img,
      .learn-img img {
        width: 167px;
        height: 96px;
        position: relative;
        border-radius: 4px;
      }
      .learn-img img {
        object-fit: cover;
        object-position: center;
      }
      .times {
        position: absolute;
        left: 0;
        bottom: 0;
        height:40px;
        width: 100%;
        background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
        border-radius:0px 0px 4px 4px;
       span{
        float: right;
        margin-top: 20px;
        margin-right: 8px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
       }
      }
      .title {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(41, 46, 51, 1);
        line-height: 21px;
      }
      .abstract {
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: rgba(145, 149, 153, 1);
        line-height: 15px;
      }
    }
  
    //左右结构
    .learn-list-bet {
        display: flex;
        margin-top: 16px;
        .learn-info{
            flex:1;
            margin-right: 18px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .title{
                font-size:14px;
                font-weight:400;
                color:rgba(26,39,51,1);
                line-height:20px;
            }
            .abstract{
                font-size:11px;
                font-weight:400;
                color:rgba(144,153,162,1);
                line-height:16px;
                margin-right: 8px;
            }
        }
        .learn-img, .learn-img img{
            width:113px;
            height:75px;
            border-radius:4px;
        }
        .learn-img img{
            object-fit: cover;
            object-position: center;
        }
    }
    .abstract-img{
      height: 16px !important;
      width: 16px !important;
      position: relative;
      top: 4px;
    }
    .abstract-video{
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -20px;
      margin-top: -20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      // background:rgba(0,0,0,1);
      // opacity:0.6557;
      background-size: cover;
    }
    .empty-learn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -50px;
        text-align: center;
        img {
          height: 88px;
          width: 88px;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
    }
}