html,
body {
  height: 100%;
}
// 圆形
.border_circle {
  border-radius: 50%;
}
// 圆角
.border_rounded {
  border-radius: 5px;
}
// 背景图
.bg_img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
//通用阴影
.shadow {
  box-shadow: 0px 0px 6px 0 rgba(211, 211, 211, 0.5);
}
// 开发用
.dev {
  border: 1px solid #999;
}
// 一行文本
.text-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
